<!doctype html>
<html lang="zh-CN">

<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="/Views/Admin/css/themes/default/easyui.css" />
<script type="text/javascript" src="/Views/Admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/Views/Admin/js/jquery.easyui.min.js"></script>
</head>

<body>
	<script>
		//获取要查询的数据
		function getData() {
			var key = $('#findByKey').val();
			$.ajax({
				type : "post",
				url : "/admin/getExamerInfo",
				async : true,
				success : function(data) {
				},
				error : function(data) {
				}
			});
		}
	</script>
	<fieldset>
		<legend style="font-size: 18px;">考生信息查询</legend>
		<table id="tt" class="easyui-datagrid"
			style="width:100%; height: 250px" url="/admin/getExamerInfo"
			toolbar="#tb" title="Load Data" iconCls="icon-save" rownumbers="true"
			pagination="true">
			<thead>
				<tr>
					<th field="name" width="20%">姓名</th>
					<th field="id_card" width="25%">身份证编号</th>
					<th field="school" width="25%" align="right">所属驾校</th>
					<th field="pcname" width="25%" align="right">计算机编号</th>
				</tr>
			</thead>
		</table>
		<div id="tb" style="padding: 3px">
			<span>姓名:</span> <input id="name"
				style="line-height: 26px; border: 1px solid #ccc"> <a
				href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">Search</a>
		</div>
	</fieldset>
		<script>
	//当用户输入查询值并按下查询按钮时，'doSearch' 函数将被调用：
		function doSearch(){
	$('#tt').datagrid('load',{
		name: $('#name').val()
	});
}
	</script>
</body>

</html>