<!DOCTYPE html>
<html>

	<head>
		<title>金鸡岭驾校</title>
		<!--css-->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!--/css-->
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Mechanical Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- //for-mobile-apps -->
		<!-- js -->
		<script src="js/jquery.min.js">
		</script>
		<script src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<!-- /js -->
		<!--fonts-->
		<link href='http://fonts.useso.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
		<link href='http://fonts.useso.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
		<!--/fonts-->
		<!--script-->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 900);
				});
			});
		</script>
		<!--/script-->
	</head>

	<body>
		<!--header-->
		<div class="header">
			<div class="header-nav">
				<div class="container">
					<div class="logo">
						<a href="index.html"><h1>金鸡岭驾校</h1></a>
					</div>
					<div class="navigation">
						<nav class="navbar navbar-default">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"> </span>
									<span class="icon-bar"> </span>
									<span class="icon-bar"> </span>
								</button>
							</div>
							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/Views/Home/index.html">驾校首页<span
										class="sr-only">(current)</span></a></li>
								<li><a href="/Views/Home/关于我们.html">驾校信息</a></li>
								<li><a href="/Views/Home/报名须知.html">报名须知</a></li>
								<li><a href="/Views/Home/关于我们.html">关于我们</a></li>
								<li><a href="#">驾校论坛</a></li>
							</ul>
								<div class="clearfix"> </div>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- script-for-menu -->
		<script>
			$("span.menu").click(function() {
				$(".top-nav ul").slideToggle("slow", function() {});
			});
		</script>
		<!-- script-for-menu -->
		<div class="banner-left">
			<div class="banner-title">
				<div id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="banner2 banner5">
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="banner-bottom-strip">
			<div class="container">
				<p>金鸡岭驾校欢迎您报考.</p>
			</div>
		</div>
		<!--inner-page-about-->
		<div class="services">
			<div class="container">
				<h3>收费标准</h3>
			</div>
		</div>
		<style>
			.tbody {
				padding-left: 300px;
				padding-right: 200px;
				padding-bottom: 100px;
			}
		</style>
		<div class="tbody">
			<tbody>
				<table id="table_s" cellspacing="1" border="1" bordercolor="blake" height="800px">
					<tbody>
						<tr class="tl">
							<td width="15%">班型</td>
							<td width="20%">车型</td>
							<td width="10%">驾照</td>
							<td width="10%">优惠价格</td>
							<td width="35%">查看详细</td>
							<td width="10%">网上报名</td>
						</tr>
						<tr>
							<td rowspan="5">速成班周一至周五</td>
							<td>桑塔纳</td>
							<td rowspan="3">C1</td>
							<td>￥5900</td>
							<td rowspan="5" align="left">1，提前预留车辆，不用约车；2，交规合格20天后通知上；3，8日速成：周二或周日开始上车后再连续训练7个工作日（共8天），训练时间：07:00-13:00；4，11日速成：周日开始上车后再连续训练10个工作日（共11天），下午班：13:00-17:00、晚间班：17:00-21:00. 注：除开始上车当日外，其他训练时间均为连续工作日进行训练。

							</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来</td>
							<td>￥6200</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>伊兰特</td>
							<td>￥6300</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来</td>
							<td rowspan="2">C2</td>
							<td rowspan="2">￥6200</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>伊兰特</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td rowspan="3">预约计时班周一至周日</td>
							<td>桑塔纳</td>
							<td rowspan="2">C1</td>
							<td>￥5200</td>
							<td rowspan="3" align="left">1、自主约车，单人单车；2、考前安排针对性集中训练；3、周一至周日均可约车（六、日约车相对集中，请酌情考虑）；4、交规考试合格后，即日起可以预约7日内的车辆。</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td rowspan="2">宝来</td>
							<td rowspan="2">￥5500</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>C2</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td rowspan="5">假日班</td>
							<td>桑塔纳</td>
							<td rowspan="3">C1</td>
							<td>￥6000</td>
							<td rowspan="5" align="left">1.提前预留车辆，不用约车 2.连续训练四个周末 3.训练时间：上午7:00-13:00，下午13:00-19:00 4.晚间班连续训练六个周末，训练时间：17:00-21:00 5.定人定车
							</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来</td>
							<td>￥6300</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>伊兰特</td>
							<td>￥6400</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来</td>
							<td rowspan="2">C2</td>
							<td rowspan="2">￥6300</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>伊兰特</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td rowspan="2">贵宾班</td>
							<td rowspan="2">宝来</td>
							<td rowspan="2">C1/C2</td>
							<td>￥9800</td>
							<td align="left">1、单人单车；2、全程服务专员；3、专用训练车辆，根据学员时间安排训练；4、优先预约各项考试；5、免费用餐；6、无免费接送。</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
						<tr>
							<td>￥13000</td>
							<td align="left">除以上各项服务外，增加接送服务；宝来训练处为您安排练车培训计划；东、西、北五环路内，南六环内免费车接送；东、西、北五六环之间，南六环外14000元；东、西、北六环外15000元。</td>
							<td><a href="/Views/Home/网上报名.html">我要报名</a></td>
						</tr>
					</tbody>
				</table>
				<script language="javascript" type="text/javascript">
					tableSpan("table_s");
				</script>
				</td>
				</tr>

				<tr>
					<td style="text-align:left;line-height:20px;padding-top:12px;">
						<div class="contextyyyy">
							<div><strong>上课快、上车快、考试合格，当天拿本</strong></div>
							<div><strong>可学习大型客车、大型货车、中型客车</strong></div>
							<div>
								<font color="#ff0000"><strong>东方时尚驾校客服咨询友情提示：</strong></font>
							</div>
							<div>
								<font color="#ff0000">现在正值学车报名高峰，如您在电话咨询报名时如遇忙线，请您直接在线提交您的学车报名信息，我们的客服人员会在第一时间与您联系，确认报名事宜。</font>
								<a href="#">
									<font color="#0033ff" size="2"><strong><u>我要报名</u></strong></font>
								</a>
							</div>
							<div><strong>报名服务电话：51285200</strong></div>
							<table>
								<tbody>
									<tr>
										<td>
											<div>&nbsp;</div>
											<div></div>
											<div><b>东方时尚驾校报名条件：</b> <br>　（一）、报名条件 <br>身体条件： <br>1、无赤绿色盲；<br>2、两耳分别距音叉50厘米能辨别声源方向；<br>3、四肢、躯干、颈部运动能力正常；<br>4、左下肢残疾者，可学自动档轿车。</div>
											<div><b>年龄条件：</b></div>
											<div>1、申请小型货车、小型客车学习驾驶证（C1本）、自动档轿车（C2本）为18至70周岁；</div>
											<div><b>（二）、报名手续</b><br>1、报名学员须带身份证原件，非本市户口学员还需交验一年有效期暂住证原件，8张同一底版的近期免冠一寸照片（需白底彩色照片，矫正视力需加戴眼镜照片。另如需代办暂住证，另带2张一寸照片，现在报名可申请）；<br>2、增驾学员请带驾驶证原件。<br>3、军人报名需持证件<br>军人报考地方驾驶证需持本人军官证，并有团级以上政治部介绍信（介绍信内容：本人姓名、性别、军官证号、出生年、月、日及详细家庭住址）；退休军官可持退休证报考，并由政治部出据证明；持外国或香港、澳门、台湾地区或国际护照的不能在本校报到。</div>
											<div><strong><font color="#ff0000">★ 证件及证明样式：</font></strong><br>
												<table class="style2" cellpadding="0" cellspacing="0" border="0" width="100%">
													<tbody>
														<tr>
															<td rowspan="4" width="54%">
																<table class="style2" cellpadding="5" cellspacing="1" bgcolor="#000000" border="1" width="292">
																	<tbody>
																		<tr>
																			<td bgcolor="#ffffff" height="379" valign="top" width="268">
																				<p align="left"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																				</p>
																				<div align="center">证&nbsp;&nbsp; 明</div>
																				<div>北京市京南车辆管理所：</div>
																				<div>&nbsp;</div>
																				<div>兹有我部<b>××</b>同志，于<b>××</b>年<b>×</b>月<b>×</b>日出生，性别：<b>×，××××</b>（证件种类，例：军官证/文职干部证等），编号：<b>×××</b>字第<b>×××</b>号。现住：北京市<b>××</b>区<b>××</b>号楼<b>××</b>单元<b>××</b>号。现到你处学习驾驶技能，请给予办理。</div>
																				<div>&nbsp;</div>
																				<div>&nbsp;</div>
																				<div>此致</div>
																				<div>&nbsp;</div>
																				<div>敬礼</div>
																				<div>&nbsp;</div>
																				<div>&nbsp;</div>
																				<div>&nbsp;中国人民解放军<b>×××××</b>部队政治部</div>
																				<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;盖章（落款与章一致）</div>
																				<div><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;×××</b>年<b>×</b>月<b>×</b>日</div>
																				<p align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A4 纸机打 </strong></p>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td align="center" height="24" width="24%">第一代身份证:</td>
															<td align="center" width="22%">第二代身份证: </td>
														</tr>
														<tr>
															<td align="center" height="176">
																<table class="style2" cellpadding="0" cellspacing="1" bgcolor="#000000" border="1" width="119">
																	<tbody>
																		<tr>
																			<td align="center" bgcolor="#ffffff" height="132" valign="top" width="109"><br><br>
																				<table class="style2" cellpadding="0" cellspacing="1" align="center" bgcolor="#000000" border="1" height="85">
																					<tbody>
																						<tr>
																							<td align="center" bgcolor="#ffffff" height="61" valign="center" width="79">
																								<p align="center">身份证</p>
																							</td>
																						</tr>
																					</tbody>
																				</table><strong>A4 纸 <br></strong></td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td align="center" width="22%">
																<table class="style2" cellpadding="0" cellspacing="1" bgcolor="#000000" border="1">
																	<tbody>
																		<tr>
																			<td align="center" bgcolor="#ffffff" height="135" valign="top" width="109"><br>
																				<table class="style2" cellpadding="0" cellspacing="1" align="center" bgcolor="#000000" border="1">
																					<tbody>
																						<tr>
																							<td align="center" bgcolor="#ffffff" height="18" valign="center" width="79">相片面在上</td>
																						</tr>
																					</tbody>
																				</table><br><br>
																				<table class="style2" cellpadding="0" cellspacing="1" align="center" bgcolor="#000000" border="1">
																					<tbody>
																						<tr>
																							<td align="center" bgcolor="#ffffff" height="19" valign="center" width="79">国徽面在下</td>
																						</tr>
																					</tbody>
																				</table>
																				<p align="center"><strong><br>A4 纸 </strong></p>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td align="center" height="25">军官证：</td>
															<td align="center">暂住证：</td>
														</tr>
														<tr>
															<td align="center" height="160" valign="bottom">
																<table class="style2" cellpadding="0" cellspacing="1" bgcolor="#000000" border="1" width="116">
																	<tbody>
																		<tr>
																			<td align="center" bgcolor="#ffffff" height="158" valign="top" width="108"><br>
																				<table class="style2" cellpadding="0" cellspacing="1" align="center" bgcolor="#000000" border="1">
																					<tbody>
																						<tr>
																							<td bgcolor="#ffffff" height="35" valign="center" width="84">
																								<p align="center">军官证<br>外&nbsp; 皮 </p>
																							</td>
																						</tr>
																					</tbody>
																				</table><br>
																				<table class="style2" cellpadding="0" cellspacing="1" align="center" bgcolor="#000000" border="1">
																					<tbody>
																						<tr>
																							<td bgcolor="#ffffff" height="35" valign="center" width="84">
																								<p align="center">军官证<br>像片面 </p>
																							</td>
																						</tr>
																					</tbody>
																				</table><strong><br>A4 纸 <br></strong></td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td align="center" valign="bottom">
																<table class="style2" cellpadding="0" cellspacing="1" bgcolor="#000000" border="1">
																	<tbody>
																		<tr>
																			<td align="center" bgcolor="#ffffff" height="158" valign="top" width="108"><br>
																				<table class="style2" cellpadding="0" cellspacing="1" align="center" bgcolor="#000000" border="1">
																					<tbody>
																						<tr>
																							<td align="center" bgcolor="#ffffff" height="35" valign="center" width="84">暂住证<br>像片面 </td>
																						</tr>
																					</tbody>
																				</table><br>
																				<table class="style2" cellpadding="0" cellspacing="1" align="center" bgcolor="#000000" border="1">
																					<tbody>
																						<tr>
																							<td align="center" bgcolor="#ffffff" height="35" valign="center" width="84">暂住证<br>第二篇内容</td>
																						</tr>
																					</tbody>
																				</table><strong><br>A4 纸 <br></strong></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div>&nbsp;</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>

				<tr>
					<td height="1" valign="top">&nbsp;</td>
				</tr>

				<tr>
					<td align="left" valign="top">
					</td>
				</tr>
			</tbody>
		</div>
		<!--/inner-page-about-->
		 <div class="footer">
			 <div class="container">				 	
				 <div class="col-md-3 ftr_navi ftr">
					 <h3>关于费用</h3>
					 <ul>
						 <li><a href="/Views/Home/收费标准.html">收费标准</a></li>
						 <li><a href="#">收费标准</a></li>
						 <li><a href="#">收费标准</a></li>
						 <li><a href="/Views/Home/网上报名.html">网上报名</a></li>
					 </ul>
				 </div>
				 <div class="col-md-3 ftr_navi ftr">
					 <h3>关于报名</h3>
					 <ul>
					 	<li><a href="#">报名须知</a></li>
					 	<li><a href="#">网上报名</a></li>
					 	<li><a href="#">乘车路线</a></li>
					 </ul>
				 </div>
				 <div class="col-md-3 get_in_touch ftr">
					  <h3>联系我们</h3>
					  <address style="color: white;">广西省桂林市金鸡岭驾校</address>
					  <p>GuiLin . China</p>
					  <p>+86 186 7733 8530</p>
				 </div>
				 <div class="col-md-3 ftr-logo">
					 <a href="#"><h3>我的信息</h3></a>
					 <strong style="font-size: 20px;color: white;">学号:1251210111</strong><br />
					 <strong style="font-size: 20px;color: white;">姓名:陈永鹏</strong></b>
				 </div>
				<div class="clearfix"> </div>
			 </div>
		  </div>
		<!---End-container---->
		<!---->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
				$().UItoTop({
					easingType: 'easeOutQuart'
				});
			});
		</script>
		<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<!---->
	</body>

</html>