<!DOCTYPE html>
<html>

<head>
<title>Typrography</title>
<!--css-->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--/css-->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Mechanical Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
<!-- //for-mobile-apps -->
<!-- js -->
<script src="js/jquery.min.js">
		</script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- /js -->
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Belgrano' rel='stylesheet'
	type='text/css'>
<link
	href='http://fonts.useso.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400'
	rel='stylesheet' type='text/css'>
<!--/fonts-->
<!--script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 900);
				});
			});
		</script>
<!--/script-->
</head>

<body>
	<!--header-->
	<div class="header">
		<div class="header-nav">
			<div class="container">
				<div class="logo">
					<a href=""><h1>驾校考试系统</h1></a>
				</div>
				<div class="navigation">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"> </span> <span class="icon-bar"> </span> <span
									class="icon-bar"> </span>
							</button>
						</div>
						<div class="collapse navbar-collapse nav-wil"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/Views/Home/index.html">驾校首页<span
										class="sr-only">(current)</span></a></li>
								<li class="active"><a href="/Views/Home/收费标准.html">收费标准</a></li>
								<li><a href="/Views/Home/报名须知.html">报名须知</a></li>
								<li><a href="/Views/Home/关于我们.html">关于我们</a></li>

							</ul>
							<div class="clearfix"></div>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- script-for-menu -->
	<script>
			$("span.menu").click(function() {
				$(".top-nav ul").slideToggle("slow", function() {});
			});
		</script>
	<!-- script-for-menu -->
	<div class="banner-left">
		<div class="banner-title">
			<div id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner2 banner5"></div>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="banner-bottom-strip">
		<div class="container">
			<p>驾校考试系统欢迎您.</p>
		</div>
	</div>
	<!--inner-page-about-->
	<div class="services">
		<div class="container">
			<h3>网上报名</h3>
		</div>
	</div>

	<style>
.middle_neirong {
	padding-left: 300px;
	padding-bottom: 100px;
	padding-right: 200px;
	height: 1800px;
	font-size: 16px;
}
</style>
	<div class="middle_neirong">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="107">
					<table cellspacing=1 id=tab border="1" bordercolor="balke"
						bordercolordark="red">
						<tr class=tl>
							<td width=20%>课程名称</td>
							<td width=10%>标准价格</td>
							<td width=10%>优惠价格</td>
							<td width=5%>驾照</td>
							<td width=45%>查看详细</td>
							<td width=10%>网上报名</td>
						</tr>
						<tr>
							<td>宝来速成班周一至周五</td>
							<td>￥6200</td>
							<td><font color=>￥6200</font></td>
							<td>C1</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1，提前预留车辆，不用约车；2，交规合格20天后通知上；3，8日速成：周二或周日开始上车后再连续训练7个工作日（共8天），训练时间：07:00-13:00；4，11日速成：周日开始上车后再连续训练10个工作日（共11天），下午班：13:00-17:00、晚间班：17:00-21:00.
								注：除开始上车当日外，其他训练时间均为连续工作日进行训练。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>伊兰特速成班周一至周五</td>
							<td>￥6200</td>
							<td><font color=>￥6200</font></td>
							<td>C2</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1，提前预留车辆，不用约车；2，交规合格20天后通知上；3，8日速成：周二或周日开始上车后再连续训练7个工作日（共8天），训练时间：07:00-13:00；4，11日速成：周日开始上车后再连续训练10个工作日（共11天），下午班：13:00-17:00、晚间班：17:00-21:00.
								注：除开始上车当日外，其他训练时间均为连续工作日进行训练。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来预约计时班周一至周日</td>
							<td>￥5500</td>
							<td><font color=>￥5500</font></td>
							<td>C2</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1、自主约车，单人单车；2、考前安排针对性集中训练；3、周一至周日均可约车（六、日约车相对集中，请酌情考虑）；4、交规考试合格后，即日起可以预约7日内的车辆。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来假日班</td>
							<td>￥6300</td>
							<td><font color=>￥6300</font></td>
							<td>C1</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1.提前预留车辆，不用约车
								2.连续训练四个周末 3.训练时间：上午7:00-13:00，下午13:00-19:00
								4.晚间班连续训练六个周末，训练时间：17:00-21:00 5.定人定车</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>桑塔纳速成班周一至周五</td>
							<td>￥5900</td>
							<td><font color=>￥5900</font></td>
							<td>C1</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1，提前预留车辆，不用约车；2，交规合格20天后通知上；3，8日速成：周二或周日开始上车后再连续训练7个工作日（共8天），训练时间：07:00-13:00；4，11日速成：周日开始上车后再连续训练10个工作日（共11天），下午班：13:00-17:00、晚间班：17:00-21:00.
								注：除开始上车当日外，其他训练时间均为连续工作日进行训练。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>伊兰特速成班周一至周五</td>
							<td>￥6300</td>
							<td><font color=>￥6300</font></td>
							<td>C1</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1，提前预留车辆，不用约车；2，交规合格20天后通知上；3，8日速成：周二或周日开始上车后再连续训练7个工作日（共8天），训练时间：07:00-13:00；4，11日速成：周日开始上车后再连续训练10个工作日（共11天），下午班：13:00-17:00、晚间班：17:00-21:00.
								注：除开始上车当日外，其他训练时间均为连续工作日进行训练。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>桑塔纳预约计时班周一至周日</td>
							<td>￥5200</td>
							<td><font color=>￥5200</font></td>
							<td>C1</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1、自主约车，单人单车；2、考前安排针对性集中训练；3、周一至周日均可约车（六、日约车相对集中，请酌情考虑）；4、交规考试合格后，即日起可以预约7日内的车辆。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来预约计时班周一至周日</td>
							<td>￥5500</td>
							<td><font color=>￥5500</font></td>
							<td>C1</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1、自主约车，单人单车；2、考前安排针对性集中训练；3、周一至周日均可约车（六、日约车相对集中，请酌情考虑）；4、交规考试合格后，即日起可以预约7日内的车辆。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>桑塔纳假日班</td>
							<td>￥6000</td>
							<td><font color=>￥6000</font></td>
							<td>C1</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1.提前预留车辆，不用约车
								2.连续训练四个周末 3.训练时间：上午7:00-13:00，下午13:00-19:00
								4.晚间班连续训练六个周末，训练时间：17:00-21:00 5.定人定车</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>伊兰特假日班</td>
							<td>￥6400</td>
							<td><font color=>￥6400</font></td>
							<td>C1</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1.提前预留车辆，不用约车
								2.连续训练四个周末 3.训练时间：上午7:00-13:00，下午13:00-19:00
								4.晚间班连续训练六个周末，训练时间：17:00-21:00 5.定人定车</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来假日班</td>
							<td>￥6300</td>
							<td><font color=>￥6300</font></td>
							<td>C2</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1.提前预留车辆，不用约车
								2.连续训练四个周末 3.训练时间：上午7:00-13:00，下午13:00-19:00
								4.晚间班连续训练六个周末，训练时间：17:00-21:00 5.定人定车</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>伊兰特假日班</td>
							<td>￥6300</td>
							<td><font color=>￥6300</font></td>
							<td>C2</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1.提前预留车辆，不用约车
								2.连续训练四个周末 3.训练时间：上午7:00-13:00，下午13:00-19:00
								4.晚间班连续训练六个周末，训练时间：17:00-21:00 5.定人定车</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来贵宾班</td>
							<td>￥9800</td>
							<td><font color=>￥9800</font></td>
							<td>C1/C2</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1、单人单车；2、全程服务专员；3、专用训练车辆，根据学员时间安排训练；4、优先预约各项考试；5、免费用餐；6、无免费接送。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来贵宾班</td>
							<td>￥13000</td>
							<td><font color=>￥13000</font></td>
							<td>C1/C2</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">除以上各项服务外，增加接送服务；宝来训练处为您安排练车培训计划；东、西、北五环路内，南六环内免费车接送；东、西、北五六环之间，南六环外14000元；东、西、北六环外15000元。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
						<tr>
							<td>宝来速成班周一至周五</td>
							<td>￥6200</td>
							<td><font color=>￥6200</font></td>
							<td>C2</td>
							<td style="line-height: 20px; text-align: left; padding: 0 3px;">1，提前预留车辆，不用约车；2，交规合格20天后通知上；3，8日速成：周二或周日开始上车后再连续训练7个工作日（共8天），训练时间：07:00-13:00；4，11日速成：周日开始上车后再连续训练10个工作日（共11天），下午班：13:00-17:00、晚间班：17:00-21:00.
								注：除开始上车当日外，其他训练时间均为连续工作日进行训练。</td>
							<td><a href="报名表.html">我要报名</a></td>
						</tr>
					</table>

				</td>
			</tr>
			<tr>
				<td height="72">
					<p>&nbsp;</p>
				</td>
			</tr>

		</table>
	</div>

	<!--/inner-page-about-->
	 <div class="footer">
			 <div class="container">				 	
				 <div class="col-md-3 ftr_navi ftr">
					 <h3>关于费用</h3>
					 <ul>
						 <li><a href="/Views/Home/收费标准.html">收费标准</a></li>
						 <li><a href="#">收费标准</a></li>
						 <li><a href="#">收费标准</a></li>
						 <li><a href="/Views/Home/网上报名.html">网上报名</a></li>
					 </ul>
				 </div>
				 <div class="col-md-3 ftr_navi ftr">
					 <h3>关于报名</h3>
					 <ul>
					 	<li><a href="#">报名须知</a></li>
					 	<li><a href="#">网上报名</a></li>
					 	<li><a href="#">乘车路线</a></li>
					 </ul>
				 </div>
				 <div class="col-md-3 get_in_touch ftr">
					  <h3>联系我们</h3>
					  <address style="color: white;">某省交警局驾照考试系统</address>
					  <p>GuiLin . China</p>
					  <p>+86 13607042810</p>
				 </div>
				 <div class="col-md-3 ftr-logo">
					 <a href="#"><h3>我的信息</h3></a>

					 <strong style="font-size: 20px;color: white;">姓名:胡欣欣</strong></b>
				 </div>
				<div class="clearfix"> </div>
			 </div>
		  </div>
	<!---End-container---->
	<!---->
	<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
				$().UItoTop({
					easingType: 'easeOutQuart'
				});
			});
		</script>
	<a href="#to-top" id="toTop" style="display: block;"> <span
		id="toTopHover" style="opacity: 1;"> </span></a>
	<!---->
</body>

</html>